<div *ngIf="user">
    <div class="container-fluid well span12" style="margin-top: 30px">
        <div class="row-fluid">
            <div class="span12">
                <h3>{{user.name}}</h3>
                <div *ngFor="let disease of user.diseases">
                    <!-- <li class = "list-group-item list-group-item-info">{{diseasename[disease]}}</li> -->
                </div>
                <ul class = "list-group">
                    <div *ngFor="let disease of user.diseases">
                        <li class = "list-group-item list-group-item-info">
                            {{diseasename[disease]}}
                        </li>
                    </div>
                </ul>

            </div>
    </div>
</div>
